Repository TUT-StudyClub/peer_review: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, backend-ruff-format, ty-check, eslint-frontend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: backend-ruff
        name: ruff (backend)
        entry: task backend:ruff
        language: system
        pass_filenames: false
        files: ^backend/
      - id: backend-ruff-format
        name: ruff format (backend)
        entry: task backend:ruff-format
        language: system
        pass_filenames: false
        files: ^backend/
      - id: ty-check
        name: ty check (backend)
        entry: task backend:ty
        language: system
        pass_filenames: false
        files: ^backend/
      - id: eslint-frontend
        name: eslint (frontend)
        entry: task frontend:eslint
        language: system
        pass_filenames: false
        files: ^frontend/

#229ランキングページの実装
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

#230　タブUIの追加
  frontend/src/components/ui/tabs.tsx
Due: eslint-frontend

#230　フロントランキング取得
  frontend/src/app/ranking/page.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: eslint-frontend

#233 表示件数とグラフの表示を連動etc..
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

#230 テストユーザーの強化
  backend/scripts/seed_test_users.py
Due: backend-ruff, backend-ruff-format, ty-check

#233 トレンドグラフの実装 (credit履歴の取得etc..)
  backend/app/api/routes/users.py
  backend/app/schemas/user.py
Due: backend-ruff, backend-ruff-format, ty-check

#230　整合性の修正
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

#231 ポップアップ実装　ランキング返却用スキーマに target_course_title / target_course_titles を追加。
  backend/app/schemas/user.py
Due: backend-ruff, backend-ruff-format, ty-check

#231 ポップアップ実装 評価対象コース（複数）を付与する集計処理を追加
  backend/app/api/routes/users.py
Due: backend-ruff, backend-ruff-format, ty-check

#233 MetricHistoryPoint / AverageSeriesPoint 追加
  frontend/src/lib/types.ts
Due: eslint-frontend

#233 フロント平均値の取得
  frontend/src/lib/api.ts
Due: eslint-frontend

#232テストユーザーの追加・作成
  backend/scripts/seed_test_users.py
Due: backend-ruff, backend-ruff-format, ty-check

#233 トレンドグラフの実装（lintエラーの修正のための編集）
  frontend/package.json
  package.json
Due: eslint-frontend

#231 ポップアップ実装 ポップアップ機能の追加
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

fix: sqlalchemyを使うように変更
  backend/app/models/notification.py
Due: backend-ruff, backend-ruff-format, ty-check

refactor: 404エラーを許容するように変更
  frontend/src/lib/notifications.ts
Due: eslint-frontend

ブラウザタブのアイコンの表示変更
  frontend/src/app/favicon.ico
  frontend/src/app/icon.png
  frontend/src/app/layout.tsx
Due: eslint-frontend

fix: 新規登録後 FAQ に飛ぶようになっていたので、チュートリアルに飛ぶように修正
  frontend/src/app/auth/register/page.tsx
Due: eslint-frontend

平均計算の修正
  backend/app/api/routes/users.py
Due: backend-ruff, backend-ruff-format, ty-check

#233 トレンドグラフの実装 (credit履歴の取得etc..)
  frontend/src/components/RankingCreditTrendChart.tsx
Due: eslint-frontend

refactor: 横幅を適切な大きさになるように変更
  frontend/src/app/home/page.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/AppShell.tsx
Due: eslint-frontend

delete: フッターの削除
  frontend/src/app/page.tsx
Due: eslint-frontend

ruffの修正
  .pre-commit-config.yaml
Due: none

refactor: ホーム画面の提出期限と通知の大きさがそろうように変更
  frontend/src/app/home/page.tsx
Due: eslint-frontend

refactor: ホーム画面の提出期限と通知の大きさの比率が均等になるように変更　画面サイズがPC以下の場合には横並びではなく縦並びになる
  frontend/src/app/home/page.tsx
Due: eslint-frontend

競合状態の解消
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

mainをマージ
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/page.tsx
Due: eslint-frontend

改善　グループ化
  backend/app/api/routes/users.py
Due: backend-ruff, backend-ruff-format, ty-check

refactor: notification_service と notification_content から Any 型を削除
  backend/app/services/notification_content.py
  backend/app/services/notification_service.py
Due: backend-ruff, backend-ruff-format, ty-check

例外処理の改善
  backend/app/api/routes/users.py
Due: backend-ruff, backend-ruff-format, ty-check

エラー処理の追記
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

データ検証コンソールの追加
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

feat: 管理者画面の作成
  backend/alembic/versions/a9b8c7d6e5f4_add_reviewer_skill_overrides.py
  backend/app/api/router.py
  backend/app/api/routes/admin.py
  backend/app/core/config.py
  backend/app/models/user.py
  backend/app/schemas/admin.py
  backend/app/schemas/user.py
  backend/app/services/auth.py
  backend/app/services/credits.py
  backend/app/services/reviewer_skill.py
  frontend/src/app/admin/assignments/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: backend-ruff, backend-ruff-format, ty-check, eslint-frontend

処理の理由のコメント追記
  frontend/src/components/RankingCreditTrendChart.tsx
Due: eslint-frontend

空集合送信防止実装
  frontend/src/lib/api.ts
Due: eslint-frontend

エラー処理の追記
  frontend/src/components/RankingCreditTrendChart.tsx
Due: eslint-frontend

データ削除の通知文追記
  backend/app/api/routes/users.py
Due: backend-ruff, backend-ruff-format, ty-check

未使用関数の削除
  frontend/src/components/RankingCreditTrendChart.tsx
Due: eslint-frontend

ラベル名の変更
  frontend/src/app/ranking/page.tsx
Due: eslint-frontend

標準時刻の設定変更
  backend/app/api/routes/users.py
  frontend/src/components/RankingCreditTrendChart.tsx
Due: backend-ruff, backend-ruff-format, ty-check, eslint-frontend
