Repository TUT-StudyClub/peer_review: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, eslint-frontend

ty-check:
  name: ty check (backend)
  entry: uv run --directory backend ty check .
  language: system
  pass_filenames: false

eslint-frontend:
  name: eslint (frontend)
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

refactor: 不要なコメントの削除
  backend/app/core/config.py
Due: ty-check

peer reviewのフォント、サイズ修正
  frontend/src/app/layout.tsx
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend

refactor: pre-commit と taskfile を合わせる
  .pre-commit-config.yaml
  Taskfile.yml
Due: none

refactor: Node のバージョンを固定
  Taskfile.yml
Due: none

refactor: Python バージョンを固定する
  Taskfile.yml
Due: none

fix: バージョンの表記を修正
  docs/deployment/aws-cloudflare.md
Due: none

refactor: 不要なコメントの削除
  backend/app/schemas/notification.py
Due: ty-check

refactor: 通知メッセージの内容を一部変更
  backend/app/services/notification_content.py
Due: ty-check

refactor: マイグレーションエラーハンドリングを細分化
  backend/app/main.py
Due: ty-check

feat: マイグレーション不要時のメッセージ表示を追加
  backend/app/main.py
Due: ty-check

refactor: タイムゾーンをUTCからJSTに変更
  backend/app/models/notification.py
Due: ty-check

refactor: Python 3.12 に Taskfile を合わせる
  Taskfile.yml
Due: none

fix: ログをサイレントする
  Taskfile.yml
Due: none

refactor: Next を 16.1.6 に更新
  frontend/package-lock.json
  frontend/package.json
Due: eslint-frontend

docs: FAQ の内容を md ファイルに記載
  docs/faq.md
Due: none

refactor: ガードを追加
  frontend/src/components/HomeStartButton.tsx
Due: eslint-frontend

fix: 使い方をFAQに表示を変更する
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend

feat: FAQ
  docs/faq.md
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/faq/page.tsx
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend

fix: Windows でも動くようにする
  Taskfile.yml
Due: none

fix: faq.md を修正
  docs/faq.md
Due: none

refactor: Push通知送信処理を関数化しコードの可読性を向上
  backend/app/services/notification_service.py
Due: ty-check

fix: 初回レンダーを無視する
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/faq/page.tsx
Due: eslint-frontend

mainからmergeした分のコミット
  Taskfile.yml
Due: none

frontendアイコン表示修正
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend

fix: コメントにレビューを送るように修正
  scripts/gemini_review.py
Due: none

frontendアイコン表示修正
  frontend/src/app/layout.tsx
Due: eslint-frontend

Taskfile.yml修正
  Taskfile.yml
Due: none

フォント構文修正
  frontend/src/components/Sidebar.tsx
  frontend/tailwind.config.cjs
Due: eslint-frontend

クラス追加修正
  frontend/src/app/layout.tsx
Due: eslint-frontend

chore: 依存関係の更新
  backend/pyproject.toml
  backend/uv.lock
Due: ty-check

refactor: 通知モデルをSQLAlchemyからSQLModelに移行
  backend/app/main.py
  backend/app/models/notification.py
  backend/app/services/notification_service.py
Due: ty-check

fix: TA リクエストを通知に移動
  frontend/src/app/notifications/page.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend

fix: Alembicの複数headをマージして起動エラーを解決
  backend/alembic/versions/a09335cc89f9_merge_notification_heads.py
  backend/pyproject.toml
Due: ty-check

#231 ポップアップ実装 テスト用に内容追加
  backend/scripts/seed_test_users.py
Due: ty-check

#231 ポップアップ実装 UserRankingEntry に target_course_title / target_course_titles を追加
  frontend/src/lib/types.ts
Due: eslint-frontend

#230 ランキングレスポンスに指標値追加
  backend/app/schemas/user.py
Due: ty-check

#230　依存追加
  frontend/package-lock.json
  frontend/package.json
Due: eslint-frontend

#230　ランキングAPI（平均スコアect...）
  backend/app/api/routes/users.py
Due: ty-check

#233 グラフ表示のためのテストユーザーの追加
  backend/scripts/seed_test_users.py
Due: ty-check

#233 表の色彩実装etc..
  frontend/src/components/RankingCreditTrendChart.tsx
Due: eslint-frontend

Path conditions:
  ty-check: any of: ^backend/
  eslint-frontend: any of: ^frontend/
